.bepipe {

    &__title{
        margin:auto;
    }

    &__main{
        position: relative;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        // outline: 1px solid #f0f;
    }

    &__flexLeft {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        // outline: 1px solid #f00;
        width: 520px;

        & > p {
            text-align: end;
        }
        
    }

    &__flexRight {
        width: 520px;
        // outline: 1px solid #0f0;
    }

    &__flexImgText {
        display: flex;
        flex-direction: row;
        align-items: center;
        // padding: 0 5px;
    }

    &__reactivePower {
        padding-left:10px;
    }

    &__installedSystemTxt{
        font-weight: 900;
    }
    &__champagneTxt{
        font-weight: 900;
        // text-align: end;
    }

    // &__schemeImage:hover {
    //     transform: translateX(10px);
    //     transition: transform 0.2s;
    //     transition-timing-function: $beziere;
    // }
}