header {
    position: relative;
    height: 175px;
    // background-color: aquamarine;

    & > img {
        position: absolute;
        top: 20px;
        left: 120px;
    }
}

.black-block {
    position: absolute;
    background-color: black;
    height: 175px;
    max-width: 60%;
    min-width: 30%;
    right: 0;
    padding: 2rem;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    & > a {
        margin: auto 1rem;
        transition: 0.17s;
        transition-timing-function: $beziere;
        // outline: 1px solid red;
        height: 30px;

        & > h3 {
            font-weight: 400;
        }
    }

    & > a:hover {
        transform: translateY(-5px);
        text-shadow: 1px 1px 20px #fff;
    }
}

.grey-block {
    position: absolute;
    right: 0;
    background-color: $grey;
    width: 10%;
    height: 175px;
    transform:translateY(100%);

    // &:hover{
    //     animation: greyBlockSlide 1.3s forwards;
    // }
}