header {
    position: relative;
    height: 175px;
    // background-color: aquamarine;

    & > img {
        position: absolute;
        top: 20px;
        left: 120px;
    }
}

.black-block {
    position: absolute;
    background-color: black;
    height: 175px;
    width: 60%;
    right: 0;
}

.grey-block {
    position: absolute;
    right: 0;
    background-color: $grey;
    width: 20%;
    height: 175px;
    transform:translateY(100%);

    &:hover{
        animation: greyBlockSlide 1.3s forwards;
    }
}