.roadmap {
    position: relative;
    &__title{
        text-align: end;
    }
    &__image{
        transform: translateX(-5%);
        max-width: 100%;
        // outline: 1px solid red;
    }
    &__legend{
        position: absolute;
    }
}