@keyframes greyBlockSlide{
    0% {

    }
    50% {
        transform: translate(-100%, 100%);
    }
    100% {
        transform: translate(-160%, 100%) ;
    }
}

.hidden {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}


.hidden-2 {
    opacity: 0;
    transform: translateX(70px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.visible-2 {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.4s;
}

.hidden-3 {
    opacity: 0;
    transform: translateX(-70px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.visible-3 {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.4s;
}