@font-face {
    font-family: "ParagraphFont";
    src: url(/src/fonts/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: "Special";
    src: url(/src/fonts/Tomorrow-Regular.ttf);
}

h1, h2, h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    font-family: "ParagraphFont";
}

h1 {
    font-size: 64px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: -8px;
}

h2 {
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
}

h3 {
    font-size: 24px;
    font-weight: 600;
}

p {
    font-size: 17px;
    font-weight: 200;
}