// // Colors
$roadmapYellow: #ffdb4a ;
$roadmapBlue: #5db1ff;
$roadmapGreen: #77c54a ;
$roadmapRed: #f04c4c;
$underlineSpan: #3284FF;
$black: #000;
$white: #fff;

// Screens
$mobile: "min-width: 375px"; 
$tablet: "min-width: 768px";
$desktop: "min-width: 1024px";
