*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 10px;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

a {
  text-decoration: none;
  color: #fff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.divider {
  height: 100px;
}

.divider_2 {
  height: 30px;
}

@font-face {
  font-family: "ParagraphFont";
  src: url("../fonts/SpaceGrotesk-Regular.ttf");
}
@font-face {
  font-family: "Special";
  src: url("../fonts/Tomorrow-Regular.ttf");
}
h1, h2, h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

p {
  font-family: "ParagraphFont";
}

h1 {
  font-size: 64px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: -8px;
}

h2 {
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
  font-weight: 600;
}

p {
  font-size: 17px;
  font-weight: 200;
}

@keyframes greyBlockSlide {
  50% {
    transform: translate(-100%, 100%);
  }
  100% {
    transform: translate(-160%, 100%);
  }
}
.hidden {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.6s cubic-bezier(0.26, 0.11, 0.25, 1), transform 0.6s cubic-bezier(0.26, 0.11, 0.25, 1);
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.hidden-2 {
  opacity: 0;
  transform: translateX(70px);
  transition: opacity 0.6s cubic-bezier(0.26, 0.11, 0.25, 1), transform 0.6s cubic-bezier(0.26, 0.11, 0.25, 1);
}

.visible-2 {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0.4s;
}

.hidden-3 {
  opacity: 0;
  transform: translateX(-70px);
  transition: opacity 0.6s cubic-bezier(0.26, 0.11, 0.25, 1), transform 0.6s cubic-bezier(0.26, 0.11, 0.25, 1);
}

.visible-3 {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0.4s;
}

header {
  position: relative;
  height: 175px;
}
header > img {
  position: absolute;
  top: 20px;
  left: 120px;
}

.black-block {
  position: absolute;
  background-color: black;
  height: 175px;
  max-width: 60%;
  min-width: 30%;
  right: 0;
  padding: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.black-block > a {
  margin: auto 1rem;
  transition: 0.17s;
  transition-timing-function: cubic-bezier(0.26, 0.11, 0.25, 1);
  height: 30px;
}
.black-block > a > h3 {
  font-weight: 400;
}
.black-block > a:hover {
  transform: translateY(-5px);
  text-shadow: 1px 1px 20px #fff;
}

.grey-block {
  position: absolute;
  right: 0;
  background-color: #2e2e2e;
  width: 20%;
  height: 175px;
  transform: translateY(100%);
}

.welcome-block {
  margin-top: 60px;
}
.welcome-block__title {
  margin: 2rem 0;
}
.welcome-block__header {
  margin: 2rem 0;
}
.welcome-block__description {
  margin: 1rem 0;
}

.about-us__flex {
  display: flex;
  margin-top: 2rem;
}
.about-us__flexRight {
  margin-left: 2rem;
}
.about-us__hello {
  font-size: 20px;
  margin: 2rem 0 1rem;
  text-align: end;
}
.about-us__title {
  margin: 1rem 0;
  text-align: end;
  padding-right: 5px;
}
.about-us__name {
  margin: 1rem 0;
  font-size: 24px;
  text-align: end;
}
.about-us__position {
  font-weight: 900;
  margin: 3px 0;
  font-size: 15px;
  text-align: end;
}
.about-us__text {
  text-align: end;
  margin: 1rem 0;
}
.about-us__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.roadmap {
  position: relative;
}
.roadmap__title {
  text-align: end;
}
.roadmap__image {
  transform: translateX(-5%);
  max-width: 100%;
}
.roadmap__legend {
  position: absolute;
}

.projects__title {
  text-align: center;
  font-size: 90px;
  letter-spacing: 0;
}

.bepipe__title {
  margin: auto;
}
.bepipe__main {
  position: relative;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.bepipe__flexLeft {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  width: 520px;
}
.bepipe__flexLeft > p {
  text-align: end;
}
.bepipe__flexRight {
  width: 520px;
}
.bepipe__flexImgText {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.bepipe__reactivePower {
  padding-left: 10px;
}
.bepipe__installedSystemTxt {
  font-weight: 900;
}
.bepipe__champagneTxt {
  font-weight: 900;
}

.vertical-line {
  position: fixed;
  top: 0;
  left: 0;
  width: 60px;
  height: 100vh;
  background-color: #2e2e2e;
  z-index: 9999;
  cursor: url("/src/graphics/icons8-select-cursor-96_white.png"), auto;
}

main {
  margin: 0 auto;
  width: 1150px;
}

.bolder {
  font-weight: 900;
}

footer {
  display: flex;
  justify-content: space-between;
  height: 300px;
  background-color: #000;
}

.footerLogo {
  margin: 60px 150px;
}

.footerRightBlock {
  margin: 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footerRightBlock > a {
  font-size: 20px;
  margin: 3px 0;
  text-align: end;
}

.phone-link::before {
  content: url("/src/graphics/footer_phone.png");
  padding: 5px;
  top: 50;
}

.mail-link::before {
  content: url("/src/graphics/footer_mail.png");
  padding: 5px;
}

.smaller-field {
  width: 140px;
}
.smaller-field > p {
  text-align: end;
}

.specialH1 {
  font-size: 128px;
  font-family: "Special";
  text-decoration: underline 8px rgb(77, 133, 255);
}

.specialH2 {
  font-size: 48px;
  font-family: "Special";
  text-decoration: underline 6px rgb(77, 133, 255);
}

* {
  scroll-behavior: smooth;
}

body {
  cursor: url("/src/graphics/icons8-select-cursor-96.png"), auto;
}

footer, .black-block, .grey-block {
  cursor: url("/src/graphics/icons8-select-cursor-96_white.png"), auto;
}/*# sourceMappingURL=styles.css.map */