@import './base';
@import './components';

.vertical-line{ 
    position: fixed;
    top: 0; 
    left: 0; 
    width: 60px;
    height: 100vh;
    background-color: $grey;
    z-index: 9999;

    cursor: url("../graphics/icons8-select-cursor-96_white.png"), auto;
}

main {
    margin: 0 auto;
    width: 1150px;
    // outline: 1px solid red;
}

.bolder {
    font-weight: 900;
}

footer {
    display: flex;
    justify-content: space-between;
    height: 300px;
    background-color: #000;;
}

.footerLogo {
    margin: 60px 150px;
}

.footerRightBlock {
    margin: 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-content:flex-end;
    & > a{
        font-size: 20px;
        margin: 3px 0;
        text-align: end;
    }
}

.phone-link::before {
    content: url('../graphics/footer_phone.png');
    padding: 5px;
    top: 50;
}

.mail-link::before {
    content: url('../src/graphics/footer_mail.png');
    padding: 5px;
}

.smaller-field {
    width:140px;

    & >p {
        text-align: end;
    }
}

.specialH1 {
    font-size: 128px;
    font-family: "Special";
    text-decoration: underline 8px rgb(77, 133, 255);
}
.specialH2 {
    font-size: 48px;
    font-family: "Special";
    text-decoration: underline 6px rgb(77, 133, 255);
}

//Uniq mouse img + coloring

* {
    scroll-behavior: smooth;
}

//img
body {
    cursor: url("/src/graphics/icons8-select-cursor-96.png"), auto;
}

//coloring
footer, .black-block, .grey-block {
    cursor: url("/src/graphics/icons8-select-cursor-96_white.png"), auto;
}