@import './base';
@import './components';

.vertical-line{ 
    position: fixed;
    top: 0; 
    left: 0; 
    width: 60px;
    height: 100vh;
    background-color: $grey;
    z-index: 9999;

    cursor: url("../graphics/icons8-select-cursor-96_white.png"), auto;
}

main {
    margin: 0 auto;
    width: 1150px;
    // outline: 1px solid red;
}

.bolder {
    font-weight: 900;
}

footer {
    display: flex;
    justify-content: space-between;
    height: 300px;
    background-color: #000;;
}

.footerLogo {
    margin: 60px 150px;
}

.footerRightBlock {
    margin: 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-content:flex-end;
    & > a{
        font-size: 20px;
        margin: 3px 0;
        text-align: end;
    }
}

.phone-link::before {
    content: url('../graphics/footer_phone.png');
    padding: 5px;
    top: 50;
}

.mail-link::before {
    content: url('../graphics/footer_mail.png');
    padding: 5px;
}

.smaller-field {
    width:140px;

    & >p {
        text-align: end;
    }
}

.specialH1 {
    font-size: 128px;
    font-family: "Special";
    text-decoration: underline 8px rgb(77, 133, 255);
}
.specialH2 {
    font-size: 48px;
    font-family: "Special";
    text-decoration: underline 6px rgb(77, 133, 255);
}

.roadmapMobile {
    display: none;
}

//Uniq mouse img + coloring

* {
    scroll-behavior: smooth;
}

//img
body {
    cursor: url("/src/graphics/icons8-select-cursor-96.png"), auto;
}

//coloring
footer, .black-block, .grey-block {
    cursor: url("/src/graphics/icons8-select-cursor-96_white.png"), auto;
}


@media ($tablet) {
    main {
        width: 100%;
    }

    .vertical-line {
        display: none;
    }

    .black-block, .grey-block {
        display: none;
    }
    .header-logo {
        width: 50%;
        top: 40px;
        left: 30px;
    }

    .welcome-block {
        width: $tabletWidthPercent;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .about-us { 
        width: $tabletWidthPercent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        // outline: 1px solid pink;

        &__photo {
            // width: 100%;
            height: 700px;
            object-fit: cover;
            border-radius: 2px;
        }
        &__flex {
            flex-direction: column-reverse;
        }
        &__flexRight {
            margin: 0 auto
        }
        &__hello, &__title, &__name, &__position, &__text {
            text-align: center;
        }
    }

    .roadmap {
        width: $tabletWidthPercent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

        &__image{
            position: relative;
            transform: translateX(0);
        }

        &__legend {
            position: relative;
        }
    }

    .bepipe {
        margin: 0 auto;
        width: $tabletWidthPercent;
        &__main {
            flex-flow: column wrap;
        }
        &__installedSysteImg {
            width: 100%;
        }
        &__champagnePhoto {
            width: 100%;
        }
        &__flexLeft {
            margin: 0 auto;
            width: 100%;
            align-items: center;

            & > p {
                text-align: center;
            }
        }
        &__flexRight {
            margin: 0 auto;
            width: 100%;
            align-items: center;

            & > p {
                text-align: center;
            }

            & > #h {
                display: none;
            }
        }
        
        &__flexImgText {
            flex-direction: column;
        }

        &__simpleInstallation {
            display: flex;
            margin: 0 auto;
            height: 100px;
        }

        &__schemeImage {
            display: flex;
            margin: 0 auto;
            width: 50%;
        }

        &__installedSysteImg {
            width: 70%;
            margin-bottom: 1rem;
        }

        &__champagnePhoto {
            display: flex;
            margin: 0 auto;
            width: 70%;
            margin-bottom: 1rem;
        }
    }

    .reductionOfCO2Emission {
        display: flex;
        margin: 2rem auto;
    }

    .reductionofenerg {
        margin: 1rem auto;
    }

    .smaller-field {
        width: 100%;
    }

    .divider_2 {
        height: 25px;
    }

    .specialH1, .specialH2 {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }


    footer {
        width: 100%;
    }

    .footerLogo {
        display: none;
    }
}

@media ($mobile) {
    header {
        width: $tabletWidthPercent;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    body {
        width: 100%;
    }

    .about-us {
        &__photo {
            width: 100%;
            margin: 0 auto;
        }
    }

    .header-logo {
        width: 80%;
        margin: 0 auto;
    }

    .welcome-block {
        width: 90%;
    }

    .divider {
        height: 10px
    }

    .projects__title {
        margin: 1rem auto;
        font-size: 50px;
    }

    .bepipe {
        &__title {
            width: 80%;
            margin-bottom: 2rem;
        }

        &__schemeImage {
            width: 90%;
        }

        &__installedSystemTxt {
            margin-bottom: 2rem;
        }
        
        &__installedSysteImg {
            width: 90%;
        }

        &__champagnePhoto {
            width: 100%;
        }

        &__simpleInstallation {
            width: 60%;
        }
    }

    #MPF {
        font-size: 30px;
        letter-spacing: 0.1px;
    }

    .reductionOfCO2Emission {
        width: 80%;
    }

    .specialH1 {
        font-size: 90px;
    }

    footer {
        width: 100%;
    }

    .footerRightBlock {
        margin: 0 auto;
        align-items: flex-start;
        align-content: flex-start;

        & > a {
            font-size: 16px;
        }
    }

    .roadmap {
        display: none;
    }

    .roadmapMobile {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;

        &__title {
            text-align: center;
            margin-bottom: 2rem;
        }
    }
}